<link rel="stylesheet" href="{{ 'calendar.css' | asset_url }}">
<script src="{{ 'calendar.js' | asset_url }}" defer></script>

<div id="ce-app" class="ce-wrapper">
  <h3>Calcula tu envío</h3>

  <div class="ce-fields">
    <label for="ce-city">Selecciona tu comuna:</label>
    <select id="ce-city">
      <option value="">Seleccionar comuna</option>
      <option value="Caracas">Caracas</option>
      <option value="Charallave">Charallave</option>
    </select>

    <label for="ce-date">Selecciona fecha:</label>
    <input type="date" id="ce-date">
  </div>
</div>

{% schema %}
{
  "name": "Calendario de envíos",
  "target": "section",
  "templates": ["cart"],
  "settings": []
}
{% endschema %}